.badge {
  background-color: #f1494b;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  left: 20px;
  bottom: 20px;
}

.badge-alert {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.badge-alert-own {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
